feature-engine==1.8.1
matplotlib==3.9.2
MetaTrader5==5.0.4424
numba==0.60.0
numpy==1.26.4
pandas==2.2.2
pandas_ta==0.3.14b0
plotly==5.24.0
scipy==1.13.1
seaborn==0.13.2
scikit-learn==1.5.1
yellowbrick==1.5
